.w {
  width: 1190px;
  margin: auto;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.style-red {
  color: #f10215 !important;
}

li {
  list-style: none;
}

ol, ul {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: bottom;
}

input, button {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
}

body {
  background-color: #f0f3ef;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?my2wli');
  src: url('../fonts/icomoon.eot?my2wli#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?my2wli') format('truetype'), url('../fonts/icomoon.woff?my2wli') format('woff'), url('../fonts/icomoon.svg?my2wli#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* 京东头部 start */

.J_event {
  height: 80px;
  background-color: #000;
}

.J_event a {
  display: block;
  height: 80px;
  background: url(../images/top.jpg) no-repeat;
  position: relative;
}

.J_event a i {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 5px;
  font-family: "icomoon";
  font-size: 16px;
  font-style: normal;
  text-align: center;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

/* 京东头部 end */

/* 快捷导航栏 start */

.shortcut {
  height: 30px;
  background-color: #e3e4e5;
  border-bottom: 1px solid #DDDDDD;
  line-height: 30px;
}

.shortcut a {
  color: #9d9d9d;
  font-size: 12px;
  text-decoration: none;
}

.shortcut a:hover {
  color: #c81623;
}

.pos {
  font-family: "icomoon";
  font-style: normal;
  font-size: 14px;
  color: #f10215;
}

.shortcut .fl li {
  margin-left: 200px;
}

.shortcut .fr li {
  float: left;
}

.spacer {
  height: 10px;
  width: 1px;
  background-color: #ccc;
  margin: 10px 10px 0 10px;
}

.dropdown {
  padding-right: 15px;
  position: relative;
}

.dropdown i {
  font-family: "icomoon";
  font-style: normal;
  font-size: 12px;
  position: absolute;
  right: -2px;
  top: 2px;
}

.qrcode {
  height: 60px;
  width: 60px;
  border: 1px solid #ccc;
  padding: 3px;
  position: absolute;
  top: 30px;
  left: -8px;
}

.qrcode img {
  height: 60px;
  width: 60px;
}

/* 快捷导航栏 end */

/* header 部分 start */

.header {
  height: 140px;
}

.inner {
  height: 140px;
  position: relative;
}

.logo {
  width: 190px;
  height: 169px;
  position: absolute;
  top: -30px;
  left: 0;
  box-shadow: 0 -12px 10px rgba(0, 0, 0, .2);
}

.logo h1 {
  margin: 0;
}

.logo a {
  display: block;
  width: 190px;
  height: 170px;
  background: url(../images/logo.png) no-repeat left top;
  text-indent: -999px;
  overflow: hidden;
}

/* header 部分 end */

/* 搜索 start */

.search {
  width: 550px;
  height: 35px;
  background-color: blue;
  position: absolute;
  top: 25px;
  left: 320px;
}

.search input {
  height: 33px;
  width: 493px;
  border: 1px solid #f10215;
  padding-left: 5px;
  outline: none;
  color: #989898;
  float: left;
}

.search button {
  width: 50px;
  height: 35px;
  background-color: #f10215;
  float: left;
  cursor: pointer;
  /* outline: none; */
}

.search i {
  font-family: "icomoon";
  font-style: normal;
  font-size: 14px;
  color: #fff;
}

.search em {
  position: absolute;
  top: 10px;
  right: 65px;
  width: 19px;
  height: 15px;
  background: url(../images/sprite-photo-search.png) no-repeat;
  cursor: pointer;
}

.search em:hover {
  background-position: -30px 0;
}

.hotwords {
  position: absolute;
  top: 70px;
  left: 320px;
}

.hotwords a {
  color: #9e9b99;
  font-size: 12px;
}

.hotwords a:hover {
  color: #f10215;
}

/* 搜索 end */

/* 购物车 start */

.shopingcar {
  height: 33px;
  width: 188px;
  border: 1px solid #ccc;
  position: absolute;
  top: 25px;
  right: 100px;
  text-align: center;
  line-height: 33px;
}

.shopingcar i {
  font-family: "icomoon";
  font-size: 12px;
  font-style: normal;
  color: #f10215;
}

.shopingcar a {
  font-size: 12px;
  color: #f10215;
}

.shopingcar s {
  position: absolute;
  top: 5px;
  left: 140px;
  text-decoration: none;
  background-color: #f10215;
  color: #fff;
  line-height: 16px;
  font-size: 12px;
  padding: 0 3px;
  border-radius: 8px;
}

/* 购物车 end */

/* 广告 start */

.ad {
  position: absolute;
  right: 0;
  bottom: 10px;
}

.ad a {
  display: block;
  height: 40px;
  width: 190px;
  background: url(../images/header_ad.png) no-repeat;
}

/* 广告 end */

/* 导航栏 start */

.navitems {
  position: absolute;
  bottom: 0;
  left: 200px;
}

.navitems ul {
  float: left;
}

.navitems ul li {
  float: left;
  margin-left: 20px;
}

.navitems li a {
  font-size: 14px;
  color: #555a5f;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  display: block;
}

.navitems li a:hover {
  color: #f10215;
}

.navitems .spacer {
  float: left;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 0px;
}

/* 导航栏 end */

/* 底部 start */

.footer {
  height: 560px;
  background-color: #eaeaea;
}

/* 好快多省 start */

.footer-service {
  height: 100px;
  border-bottom: 1px solid #dedede;
}

.footer-service-inner {
  padding: 30px 0;
}

.footer-service-inner li {
  width: 297px;
  height: 42px;
  float: left;
}

.service-unit {
  width: 225px;
  height: 42px;
  margin: 0 auto;
  position: relative;
}

.service-unit p {
  line-height: 42px;
  margin-left: 45px;
  font-size: 18px;
  font-weight: 700;
}

.service-unit h5 {
  width: 36px;
  height: 42px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/sprite-footer.png) no-repeat top left;
  text-indent: -999px;
  overflow: hidden;
}

.service-unit .kuai {
  background-position: -38px 0;
}

.service-unit .hao {
  background-position: -76px 0;
}

.service-unit .sheng {
  background-position: 0 -45px;
}

/* 好快多省 end */

/* help start */

.help {
  height: 180px;
  padding-top: 20px;
}

.help dl {
  float: left;
  width: 198px;
}

.help dt {
  font-size: 14px;
  font-weight: 700;
  color: #666;
  height: 30px;
}

.help dd {
  height: 22px;
}

.help dd a {
  color: #727272;
  font-size: 12px;
}

.help dd a:hover {
  color: #f10215;
}

.help .cover {
  float: left;
  height: 154px;
  width: 200px;
  background: url(../images/sprite-foote2r.png) no-repeat;
  overflow: hidden;
}
.cover dt {
  text-align: center;
}

.help .info {
  height: 50px;
  width: 175px;
  font-size: 14px;
  margin-top: 5px;
  line-height: 18px;
  color: #727272;
  margin-left: 20px;
}

.help .detail {
  margin-top: 20px;
  text-align: right;
  margin-right: 10px;
}

/* help end */

/* copyright start */
.copyright {
  border-top: 1px solid #ccc;
  padding-top: 15px;
}
.friendlinks {
  text-align: center;
}

.friendlinks a {
  color: #727272;
  font-size: 12px;
}

.friendlinks span {
  color: #d4d4d4;
  font-size: 12px;
  margin: 0 5px;
}

.friendlinks a:hover {
  color: #f10215;
}

.cert {
  text-align: center;
}
.cert p {
  color: #727272;
  font-size: 11px;
  line-height: 22px;
}
.international a {
  /* background-color: pink; */
}
.international i {
  display: inline-block;
  margin-top: 1px;
  width: 15px;
  height: 12px;
  background: url(../images/sprite-footer.png) no-repeat -38px -45px;
}
/* copyright end */

/* 底部 end */
